:root {
            --my-size: 8rem;
            --my-favorite-color: green;
}

thead {
    background-color: antiquewhite;
}

tbody tr:nth-child(1) {
    background-color: red;
}

tr:nth-child(2) {
    background-color: orange;
}

tr:nth-child(3) {
    background-color: yellow;
}

tr:nth-child(4) {
    background-color: green;
}

tr:nth-child(5) {
    background-color: blue;
}

tr:nth-child(6) {
    background-color: purple;
}

tr:nth-child(7) {
    background-color: pink;
}

h2{
    color: var(--my-favorite-color);
    font-family: "Noto Sans Sc", sans-serif;
    font-size: var(--my-size);
}

body {
    background-color: antiquewhite;
    background-image: url(Elias-Gonzalez-17.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


